<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notely | Home </title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
</head>

<body>
    <div class="container w-full h-full relative  pt-8  ">
        <nav>
            <h1 class="text-center  text-2xl font-medium" style="" ">Make your Persnalized notes now</h1>

            <div class=" buttons w-full flex justify-center items-center gap-6 mt-4 cursor-pointer ">
                <span><i class=" ri-booklet-fill text-2xl font-medium " style=" color: rgb(205, 195, 50); "></i></span>
                <div class=" rightbox w-[1.5vw] h-[1.5vw] flex justify-center items-center " style=" border: 2px solid black; ">
                    <p><i class=" ri-check-double-fill "></i></p>
                </div>
            </div>

            <div class=" searchbar w-9/12 ml-[12.5%] mt-3 flex items-center gap-3 rounded-full px-4 py-1 text-black " style=" background-color: rgba(192, 192, 192, 0.393); ">
                <p><i class=" ri-search-2-line "></i></p>
                <input class=" w-full outline-0 " type=" text " placeholder=" Search notes " style=" background-color: transparent; ">
            </div>

        </nav>

            <div id="allnotes " class="notes-section cursor-pointer notes flex gap-8 flex-wrap relative p-6 ml-[12.7%] overflow-x-hidden overflow-y-auto w-9/12 mt-4 h-[70vh] rounded-2xl " style=" background-color: rgba(239, 239, 239, 0.688); ">

                <div class=" addnotebtn fixed z-50 left-[78%] bottom-[20%] w-[3vw] h-[3vw] flex items-center justify-center rounded-full " style=" background-color: rgb(205, 195, 50); ">
                    <a href=" /mynotes/create/notes "><span><i class=" ri-add-line text-white text-2xl cursor-pointer "></i></span></a>
                </div>


               
                       <% if(allnotes.length > 0){  %>

                        <% allnotes.forEach(function(elem){ %>

                
                            <a href="/mynotes/opennote/<%=elem._id %>">
                <div class="note text-white  relative pt-2  w-[15vmax] h-[10vmax] overflow-x-hidden overflow-y-auto rounded-2xl bg-gray-50 dark:bg-gray-900 mb-3 " style=" ">


                    <h3 class="text-lg  font-medium tracking-wider ml-3 ">
                        <%= elem.title %>
                    </h3>

                    <div class=" description w-full h-[55%] pt-2 ">
                        <p class=" ml-3 leading-none text-lg font-light ">
                            <%= elem.description %>
                        </p>
                    </div>


                    <div class="icons flex gap-3 items-center  absolute bottom-[12%]  ">
                        <a id="more " href="/mynotes/opennote/<%=elem._id %>">
                            <p><i class="ri-more-fill "></i></p>
                        </a>
                        <a id="edit " href="/mynotes/editnote/<%=elem._id %> ">
                            <p><i class="ri-edit-circle-line "></i></p>
                        </a>
                    </div>


                    <span class=" ml-3 text-xs font-light absolute bottom-[5%] ">
                                       <%=  elem.formattedDate %>
                                    </span>
                </div>
                </a>


                <%   }   ) %>
                    <%  } else{  %>
                        <p>Sorry, you have'nt created any notes yet.</p>
                        <%  } %>



    </div>

    </div>


    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        html,
        body {
            width: 100%;
            height: 100%;
        }
        
        .notes-section::-webkit-scrollbar {
            display: none;
        }
        
        .note::-webkit-scrollbar {
            display: none;
        }
        
        .note {
            resize: both;
            overflow: auto;
            max-width: 100%;
            max-height: 100%;
            cursor: pointer;
        }
        
        .description::-webkit-scrollbar {
            display: none;
        }
        
        .description p {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            cursor: pointer;
        }
    </style>

    <script>
    </script>

</body>

</html>